html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    /* background: linear-gradient(#141e30, #243b55); */
    background-color: #003A69;
  }
  
  .adminlogin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height:320px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#003A69;
    color: white !important;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .adminlogin h3 {
    margin: 0 0 30px;
    padding: 0;
    color:#fff;
    text-align: center;
  }
  
  .adminlogin .user-box {
    position: relative;
  }
  
  .adminlogin .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .adminlogin .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .adminlogin .user-box input:focus ~ label,
  .adminlogin .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color:#fff;
    font-size: 12px;
  }
  

